*.class
*.log
*.swp
*.db
*.bak
.DS_Store
/*.jar

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.settings/
.project
.cache-*

# Sublime-Text
Mimir.sublime-workspace

#IDE
.idea/

# JDBC Config File
mimircore/config/jdbc.property

# Serialized models
serialized/*.db/

# Large databases
databases/noisy.db
databases/tpch*.db

# Large Data Files
test/pdbench
test/tpch
Test/mcdb

# DBGen
tpch-dbgen

# Plots
*.png
*.pdf
*.gpl
/bin/

# Python
*.pyc
.classpath

# Spark
/metastore_db/
/spark-warehouse
/derby.log
/bin/coursier
/bin/mimir
*.parquet
