body {
    margin:                     0px;
    float:                      left;
    position:                   relative;
    width:                      100%;
}

ul {
    list-style-position:        outside;
    padding-left:               0px;
    list-style:                 none;
}

.ttOption {
    font-size:                  0.9em;
}

.approve:before {
    position:                   relative;
    display:                    inline-block;
    font-family:                'Glyphicons Halflings';
    -webkit-font-smoothing:     antialiased;
    -moz-osx-font-smoothing:    grayscale;
    padding:                    0 4px;
    content:                    "\e013";
}

.fix:before {
    position:                   relative;
    display:                    inline-block;
    font-family:                'Glyphicons Halflings';
    -webkit-font-smoothing:     antialiased;
    -moz-osx-font-smoothing:    grayscale;
    padding:                    0 8px;
    content:                    "\e136";
}

.paperclip {
    margin-bottom:              3px;
}

.paperclip:before {
    position:                   relative;
    display:                    inline-block;
    font-family:                'Glyphicons Halflings';
    font-size:                  8px;
    -webkit-font-smoothing:     antialiased;
    -moz-osx-font-smoothing:    grayscale;
    padding:                    0 4px;
    content:                    "\e250";
}

a:hover {
    cursor:                     pointer;
}

.outer_container {
    margin:                     0px;
}

.inner_container {
    width:                      960px;
    margin-left:                auto;
    margin-right:               auto;
    padding:                    20px 10px;
}

#query_div {
    display:                    inline:block;
    width:                      100%;
}

#query_div .dropdown-menu {
    left:-103;
}

#query_textarea {
    font-family:                Monospace;
    padding:                    6px;
    color:                      #555;
    resize:                     vertical;
    width:                      100%;
    border-radius:              4px;
    height:                     80px;
}

form {
    margin-bottom:              0em;
}

#query_btn {
    width:                      100px;
    height:                     40px;
    margin-top:                 20px;
    margin-left:                15px;
    float: left;
}

#table_btn {
    float:                      right;
    margin-top:                 20px;
    margin-right:               15px;
}

.result {
    margin-bottom:              20px;
    overflow:                   auto;
}

#result_table th {
    text-align:                 center;
    text-decoration:            ;
    border-left:                solid 2px #ccc;
}

#result_table td {
    text-align:                 center;
    border-left:                solid 2px #ccc;
}

.non_deterministic_row {
    background:                 #ddd;
    cursor:                     pointer;

}

.non_deterministic_row:hover {
    background-color:           #eee;
}

.non_deterministic_cell {
    color:                      #c42f3e;
    font-weight:                bold;
    cursor:                     pointer;
}

.non_deterministic_cell:hover {
    color:                      #ea4858;
}

.notifications {
    padding:                    10px 19px;
}

.italics {
    font-style:                 italic;
}

td:hover {

}

.red {
    color:                      #ea4858;
}

#about {
    text-align:                 justify;
    font-size:                  16px;
    line-height:                1.6;
    padding:                    60px 120px;
    display:                    none;
    position:                   relative;
}

#about h1{ 
    text-align:                 left;
}

#drop_area {
    display:                    none;
    position:                   relative;
}

#dz-btn {
    width:                      100%;
}

.close_btn {
    position:                   absolute;
    top:                        20px;
    right:                      40px;
}

.close_x {
    color:                      #777;
    cursor:                     pointer;
}

.close_x:hover {
    color:                      #999;
}

.tooltip_table {
    margin-bottom:              0px;
    font-size:                  12px;
}

.tooltip_table>tbody>tr>td, .tooltip_table>tbody>tr>th,
.tooltip_table>tfoot>tr>td, .tooltip_table>tfoot>tr>th,
.tooltip_table>thead>tr>td, .tooltip_table>thead>tr>th {

    border:                     none;
}

.number {
    color:                      green;
    font-family:                Monospace;
}

.rowid_col {
    display:                    none;
}

.row_selector {
    width:                      10px;
    background-color:           #999;
    border:                     0px!important;
    cursor:                     pointer;
}

.deterministic_row>.row_selector {
    background-color:           #449d44;
}

.non_deterministic_row>.row_selector {
    background-color:           #ea4858;
}

.col-xs-2{min-width: 180px;max-width:310px;}

.leftCol {
    position:                   fixed;
}

.tablebutton {
    margin-top:                 10px;
}

.rightCol {
    float: right;
    padding-left:               10px;
    padding-right:              15px;
}

.lens_btn {
    margin-bottom:              10px;
    border-radius:              4px;
    width:                      100%;
    height:                     50px;
    border:                     none;
    background-color:           #378599;
    color:                      #fff;
    font-family:                Helvetica;
    font-size:                  0.8em;
    text-align:                 center;
}

.leftCol .dropdown-menu .lens_btn {
    display:                    block;
    padding:                    3px 20px;
    clear:                      both;
    font-weight:                400;
    line-height:                1.42857143;
    color:                      #333;
    white-space:                nowrap;
    margin-bottom:              3px;
    border-radius:              0px;
    width:                      100%;
    height:                     27px;
    border:                     none;
    background-color:           #fff;
    color:                      #000;
    font-family:                Helvetica;
    font-size:                  1.0em;
    text-align:                 left;
}

.lens_btn:hover {
    background-color:           #29363e;
    color:                      #fff;
}
.leftCol .lens_btn:hover {
    background-color:           #29363e;
    color:                      #fff;
}

.leftCol .dropdown-menu .lens_btn:hover {
    background-color:           #f2f2f2;
    color:                      #333;
}

button:focus {
    outline:                    0;
}

.lens_create_div {
    position:                   absolute;
    top:                        100px;
    left:                       50%;
    margin-left:                -300px;
    width:                      600px;
    height:                     500px;
    background-color:           #fff;
    border:                     1px solid #ddd;
    border-radius:              5px;
    padding:                    20px 80px;
    box-shadow:                 1px 1px 1px 0 #222;
    -moz-box-shadow:            1px 1px 1px 0 #222;
    -webkit-box-shadow:         1px 1px 1px 0 #222;
    z-index:                    999;
    display:                    none;
}

#black-box {
    position:                   fixed;
    top:                        0px;
    left:                       0px;
    width:                      100%;
    height:                     100vh;
    background:                 rgba(0, 0, 0, 0.8);
    z-index:                    0;
    display:                    none;
}

textarea:focus {
    outline:                    0;
}

input:focus {
    outline:                    0;
}

.lens_desc {
    line-height:                1.3em;
}

select:focus {
    outline:                    0;
}

.clear {
    clear:                      both;
    height:100px;
}

.horbar {
    background:                 #dddddd;
    height:                     2px;
}