<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="mimir.Database" level="INFO"/>
  <logger name="mimir.Mimir$" level="INFO"/>
  <logger name="mimir.adaptive.DiscalaAbadiNormalizer$" level="INFO"/>
  <logger name="mimir.algebra.ExpressionChecker" level="INFO"/>
  <logger name="mimir.algebra.OperatorUtils" level="INFO"/>
  <logger name="mimir.ctables.CTPercolator" level="INFO"/>
  <logger name="mimir.ctables.CTExplainer" level="INFO"/>
  <logger name="mimir.exec.Compiler" level="WARN"/>
  <logger name="mimir.exec.BestGuesser" level="INFO"/>
  <logger name="mimir.exec.TupleBundler" level="INFO"/>
  <logger name="mimir.exec.WorldBits" level="INFO"/>
  <logger name="mimir.exec.stream.ProjectionResultIterator" level="INFO"/>
  <logger name="mimir.lenses.BestGuessCache" level="INFO"/>
  <logger name="mimir.lenses.ShredderLens" level="INFO"/>
  <logger name="mimir.lenses.TypeInferenceLens$" level="INFO"/>
  <logger name="mimir.models.ModelManager" level="INFO"/>
  <logger name="mimir.models.EditDistanceMatchModel" level="INFO"/>
  <logger name="mimir.models.TypeInferenceModel" level="INFO"/>
  <logger name="mimir.models.WekaModel$" level="INFO"/>
  <logger name="mimir.sql.sqlite.MimirCast$" level="INFO"/>
  <logger name="mimir.sql.sqlite.BestGuessVGTerm" level="INFO"/>
  <logger name="mimir.sql.sqlite.SampleVGTerm" level="INFO"/>
  <logger name="mimir.sql.RAToSql" level="INFO"/>
  <logger name="mimir.sql.SqlToRA" level="INFO"/>
  <logger name="mimir.sql.JDBCBackend" level="TRACE"/>
  <logger name="mimir.statistics.FuncDep" level="INFO"/>
  <logger name="mimir.statistics.SystemCatalog" level="INFO"/>
  <logger name="mimir.util.LoadCSV$" level="INFO"/>
  <logger name="mimir.util.NonStrictCSVParser" level="INFO"/>
  <logger name="mimir.util.LineReaderInputSource" level="INFO"/>
  <logger name="mimir.views.ViewManager" level="DEBUG"/>

 
  <root level="TRACE">
    <appender-ref ref="STDOUT" />
  </root>
 
</configuration>