<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!--+++++++++++++++++++++  Mimir Root  ++++++++++++++++++++++-->
  <logger name="mimir.Database"                                    level="WARN"/>
  <logger name="mimir.Mimir$"                                      level="WARN"/>

  <!--++++++++++++++++++  Adaptive Schemas  +++++++++++++++++++-->
  <logger name="mimir.adaptive.TypeInference$"                     level="WARN"/>

  <!--+++++++++++++++++++++++  Algebra  +++++++++++++++++++++++-->
  <logger name="mimir.algebra.ExpressionChecker"                   level="WARN"/>
  <logger name="mimir.algebra.OperatorUtils"                       level="WARN"/>
  <logger name="mimir.algebra.Typechecker"                         level="WARN"/>
  <logger name="mimir.algebra.Typechecker$"                        level="WARN"/>

  <!--+++++++++++++++++++++++  Backend  +++++++++++++++++++++++-->
  <logger name="mimir.backend.JDBCBackend"                         level="WARN"/>
  <logger name="mimir.backend.SparkBackend"                        level="WARN"/>

  <!--+++++++++++++++++++++++  CTables  +++++++++++++++++++++++-->
  <logger name="mimir.ctables.CTPercolator"                        level="WARN"/>
  <logger name="mimir.ctables.CTExplainer"                         level="WARN"/>
  <logger name="mimir.ctables.ReasonSet$"                          level="WARN"/>

  <!--+++++++++++++++++++++++  DAta  +++++++++++++++++++++++-->
  <logger name="mimir.data.SparkSchemaProvider"                    level="WARN"/>
  <logger name="mimir.data.SystemCatalog"                          level="WARN"/>
  <logger name="mimir.data.LoadedTables"                           level="WARN"/>

  <!--++++++++++++++++++++++++  Exec  +++++++++++++++++++++++++-->
  <logger name="mimir.exec.Compiler"                               level="WARN"/>
  <logger name="mimir.exec.mode.BestGuess$"                        level="WARN"/>
  <logger name="mimir.exec.mode.TupleBundle"                       level="WARN"/>
  <logger name="mimir.exec.mode.WorldBits$"                        level="WARN"/>
  <logger name="mimir.exec.result.ProjectionResultIterator"        level="WARN"/>
  <logger name="mimir.exec.result.AggregateResultIterator"         level="WARN"/>
  <logger name="mimir.exec.result.JDBCResultIterator"              level="WARN"/>

  <!--+++++++++++++++++++++++  Lenses  ++++++++++++++++++++++++-->
  <logger name="mimir.lenses.BestGuessCache"                       level="WARN"/>
  <logger name="mimir.lenses.ShredderLens"                         level="WARN"/>
  <logger name="mimir.lenses.TypeInferenceLens$"                   level="WARN"/>
  <logger name="mimir.lenses.RepairKeyLens$"                       level="WARN"/>

  <!--+++++++++++++++++++++++  Models  ++++++++++++++++++++++++-->
  <logger name="mimir.models.ModelManager"                         level="WARN"/>
  <logger name="mimir.models.EditDistanceMatchModel"               level="INFO"/> <!-- Use INFO to track stats -->
  <logger name="mimir.models.TypeInferenceModel"                   level="INFO"/> <!-- Use INFO to track stats -->
  <logger name="mimir.models.WekaModel$"                           level="INFO"/> <!-- Use INFO to track stats -->
  <logger name="mimir.models.SeriesMissingValueModel"              level="WARN"/>

  <!--+++++++++++++++++++++  Optimizer  +++++++++++++++++++++++-->
  <logger name="mimir.optimizer.Optimizer$"                        level="WARN"/>
  <logger name="mimir.optimizer.operator.PropagateConditions$"     level="WARN"/>
  <logger name="mimir.optimizer.operator.PartitionUncertainJoins$" level="WARN"/>
  <logger name="mimir.optimizer.operator.InlineProjections$"       level="WARN"/>
  <logger name="mimir.optimizer.operator.PullUpUnions"             level="WARN"/>
  <logger name="mimir.optimizer.operator.PullUpConstants"          level="WARN"/>

  <!--+++++++++++++++++++++  Parser  ++++++++++++++++++++++-->
  <logger name="mimir.parser.LineReaderParser"                     level="WARN"/>
  <logger name="sparsity.parser.StreamParser"                      level="WARN"/>

  <!--+++++++++++++++++++++++  PLOT  ++++++++++++++++++++++++++-->
  <logger name="mimir.plot.Plot$"                                  level="WARN"/>

  <!--+++++++++++++++++++++  Provenance  ++++++++++++++++++++++-->
  <logger name="mimir.provenance.Provenance$"                      level="WARN"/>

  <!--++++++++++++++++++++++++  SQL  ++++++++++++++++++++++++++-->
  <logger name="mimir.sql.sqlite.MimirCast$"                       level="WARN"/>
  <logger name="mimir.sql.sqlite.BestGuessVGTerm"                  level="WARN"/>
  <logger name="mimir.sql.sqlite.SampleVGTerm"                     level="WARN"/>
  <logger name="mimir.sql.sqlite.VGTermFunctions$"                 level="WARN"/>
  <logger name="mimir.sql.RAToSql"                                 level="WARN"/>
  <logger name="mimir.sql.SqlToRA"                                 level="WARN"/>

  <!--+++++++++++++++++++++  Statistics  ++++++++++++++++++++++-->
  <logger name="mimir.statistics.FuncDep"                          level="WARN"/>
  <logger name="mimir.statistics.SystemCatalog"                    level="WARN"/>
  <logger name="mimir.statistics.facet.Nullable$"                  level="WARN"/>
  <logger name="mimir.statistics.facet.ExpectedValues$"            level="WARN"/>

  <!--+++++++++++++++++++++++  Util  ++++++++++++++++++++++++++-->
  <logger name="mimir.util.LoadCSV$"                               level="INFO"/> <!-- Use INFO to track stats -->
  <logger name="mimir.util.NonStrictCSVParser"                     level="INFO"/> <!-- Use INFO to track stats -->
  <logger name="mimir.util.LineReaderInputSource"                  level="WARN"/>
  <logger name="mimir.util.PythonProcess$"                         level="WARN"/>
  <logger name="mimir.util.TextUtils$"                             level="WARN"/>

  <!--+++++++++++++++++++++++  Views  +++++++++++++++++++++++++-->
  <logger name="mimir.views.ViewManager"                           level="WARN"/>

  <!--+++++++++++++++++++++  CSVLoader ++++++++++++++++++++++++-->
  <logger name="org.apache.spark.sql.execution.datasources.ubodin.csv.UnivocityParser" 
                                                                   level="WARN"/>

  <!--+++++++++++++++++++++++  Spark  +++++++++++++++++++++++++-->
  <logger name="log4j.logger.org.apache.spark"                     level="ERROR"/>
  <logger name="log4j.logger.Remoting"                             level="ERROR"/>
  <logger name="log4j.logger.org.eclipse.jetty"                    level="ERROR"/>
  
  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
 
</configuration>
