@(webIter: mimir.web.WebIterator, limit: Int)

<div id="visual">
    <div id="graph"></div>
    <input id="flow" type="hidden" value="@webIter.queryFlow.toJson()">
</div>
<table class="table" id="result_table">
    <thead>
        <tr>
            <th class="rowid_col">@webIter.header.head</th>
            @webIter.header.tail.map{ x => <th>@x</th> }
            <th class="row_selector"></th>
        </tr>
    </thead>
    <tbody>
        @for((l, c) <- webIter.data.slice(0, limit)) {
            @if(c) {
                <tr class="deterministic_row">
                    <td class="rowid_col">@l.head</td>
                    @l.tail.map{x => @if(x.endsWith("*")) { <td class="non_deterministic_cell">@x.substring(0, x.length() - 1)</td> } else { <td>@x</td> }}
                    <td class="row_selector"></td>
                </tr>
            } else {
                <tr class="non_deterministic_row">
                    <td class="rowid_col">@l.head</td>
                    @l.tail.map{x => @if(x.endsWith("*")) { <td class="non_deterministic_cell">@x.substring(0, x.length() - 1)</td> } else { <td>@x</td> }}
                    <td class="row_selector"></td>
                </tr>
            }
        }
    </tbody>
</table>
